@font-face {
  font-family: 'Apple Chancery';
  src: url(/css/acr.ttf) format('truetype');
}

.wrapper {
  padding: 0 30px 30px 30px;
}

.darkonhover:hover {
  -webkit-filter:brightness(50%);
  -moz-filter:brightness(50%);
  -ms-filter:brightness(50%);
  -o-filter:brightness(50%);
  filter:brightness(50%);
}

.bg-primary, .bg-danger {
  color: #ffffff;
}

.robot {
  max-height: 250px;
  max-width: 225px;
}

.x {
  font-family: 'Apple Chancery';
  font-size: 25;
}

.spacer30 {
  margin-top: 30px;
}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}