footer
    div
        span
            a(href="https://twitter.com/@frcteam6962" target="_blank")
                i(class="fab fa-twitter-square") Twitter
            a(href="https://instagram.com/frcteam6962" target="_blank")
                i(class="fab fa-instagram") Instagram
        br
        p © 2020 RobotX. All Rights Reserved.