footer(class="footer text-muted")
    div(class="jumbotron" align="center" style="border-radius: 0; margin-bottom: 0")
        span(style="font-size: 40px")
            a(href="https://twitter.com/@frcteam6962" target="_blank")
                i(class="fab fa-twitter-square")
            a(href="https://instagram.com/frcteam6962" target="_blank")
                i(class="fab fa-instagram")
        br
        p © 2020 RobotX. All Rights Reserved.