head
    title RobotX
    link(rel='stylesheet' href='/stylesheet.css')
    script(src='https://kit.fontawesome.com/4f87e596cd.js' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=' crossorigin='anonymous')