mixin navitem(name, href)
    li
        a(href=href)= name

nav#navbar
    a(href='/')
        img(src='/icon.png')
    ul
        +navitem('Home', '/')
        +navitem('Team', '/team')
        +navitem('Blog', '/blog')
        +navitem('Seasons', '/seasons')
        +navitem('Donate', '/donate')