doctype html
html
    include /includes/head.pug
    body
        include /includes/navbar.pug
        div#content
            div.jumbotron
                p You look lost. Do you want to #[a(href='/') go home]?
        include /includes/foot.pug