doctype html
html
    include /includes/head.pug
    body
        include /includes/navbar.pug
        div#content
            p RobotX is a FRC team built of aspiring, STEM passionate students. We are based at the Khan Lab School in Mountain View, 
                | California where hands-on-learning and passion-driven work are encouraged. We aim to inspire and expose others to the 
                | exploration of science, mathematics, computer science, and technology; represent our self-driven school in FRC competitions; 
                | and share our experiences and knowledge with the rest of our community.
        include /includes/foot.pug