@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap');

$font-primary: 'Ubuntu', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$nav-height: minmax(100px, 12vh);
$nav-extra-width: minmax(150px, 15vw);
$tablet-width: 768px;
$c-01: #222;
$c-02: #303030;
$c-03: #444;
$c-2: #999;
$c-1: #fff;

@font-face {
    font-family: 'Apple Chancery';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/Apple Chancery.ttf') format('ttf');
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    font-family: $font-secondary;
    background-color: $c-01;
    color: $c-1;

    display: grid;
    grid-template-areas: 'navbar' 'content' 'footer';
    grid-template-rows: $nav-height auto $nav-height;
}

p.muted {
    color: $c-2;
    font-size: 14px;
}

p.lead {
    font-size: 18px;
}

#navbar {
    display: grid;
    column-gap: 10px;
    grid-auto-flow: column;
    grid-template-columns: $nav-height minmax(0px, auto) repeat(auto-fit, $nav-extra-width);
    background-color: $c-02;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    > a {
        margin: 15px;

        img {
            object-fit: contain;
            max-height: 100%;
            width: 100%;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;

        li {
            // Center align button
            display: grid;
            height: 100%;
            flex-grow: 1;
    
            a {
                margin: 15px;
                padding: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                border: 1px solid;
                border-color: $c-03;
                text-decoration: none;
                color: $c-1;
            }
    
            a:hover {
                background-color: $c-03;
            }
        }
    }

    @media screen and (max-width: $tablet-width) {
        grid-template-columns: $nav-height;
        grid-auto-rows: 1fr;
        grid-auto-flow: row;
        justify-content: center;

        ul {
            z-index: 100;
            transform: scaleY(0);
            transform-origin: top;
            flex-direction: column;
            background-color: $c-02;
            width: 100vw;
            height: calc(100vh - 50% + 11px);
            margin-left: calc(-50vw + 50%);
            margin-top: -1px;
        }

        .display {
            transform: scaleY(1);
        }
    }
}

#content {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .blog {
        p {
            margin-bottom: 15px;
        }

        p:last-child {
            margin-bottom: 0px;
        }
    }

    .container {
        margin: 60px;
    }

    .jumbotron {
        margin: 30px;
        padding: 30px;
        background-color: $c-02;
        border-radius: 5px;
    }

    .image-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;

        margin: -15px;
        margin-bottom: 0;
        padding: 0;

        @media screen and (max-width: $tablet-width) {
            flex-direction: column;
        }

        li {
            display: inline-block;
            margin: 15px;
            flex-grow: 1;

            img {
                object-fit: cover;
                max-width: 100%;
                min-height: 100%;
                vertical-align: middle;
                border-radius: 5px;
            }
        }
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
    }
}

#footer {
    background-color: $c-02;
    z-index: 99;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        a {
            margin: 5px;
            text-decoration: none;
            font-size: 40px;
            color: #598ede;
        }

        a:hover {
            filter: brightness(75%);
        }
    }

    p {
        margin: 0 5px 5px 5px;
    }
}